
html, body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    font-size: 100%;
    height: 21rem;
    width: auto;
    /*min-width: 1280px;*/
    /*max-width: 1024px;*/
    /*height: 100vh;
*/ 
}
/*
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
*/
html {
  background: url(../img/cockpit1024x540.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

/*
body {
    background-color: skyblue;
    background-size: initial;
    background-image : url('../img/cockpit1024x540.jpg');
    background-repeat: no-repeat;
    background-position: center top;
}
*/
/*
:root {
  --left-border: calc((100vw - 1024px) / 2);
  --half-width: calc(10vw / 2);
}


#head2 {
    height: 50px;
    float: center;
}
*/

#butt_block {
    background: rgba(255, 255, 255, 0.5);
    width: 90vw;
    height: 4rem;
    margin: auto;
}


/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 0.125rem;
   -webkit-box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 2rem;
   -webkit-padding-start: 0.125rem;
   -webkit-user-select: none;
   background-image: url("../icons/15xvbd5.png"), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 0.1rem solid #AAA;
   color: #555;
   font-size: 1.5rem;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   height: 2.4rem;
   width: 12rem;
}
select#soflow-color {
   color: #fff;
   background-image: url("../icons/15xvbd5.png"), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   border-radius: 1rem;
   padding-left: 0.5rem;
}

/* ---- toggle switch */
#togglesw {
  /* opacity 0 so that it can be read by screen readers */
  opacity: 0;
}

#labelsw {
  display: inline-block;
  background: #2c3e50;
  width: 6rem;
  height: 2.25rem;
  border-radius: 1.1rem;
  position: relative;
  cursor: pointer;
  background: rgba(255,255,255,0.5);
}

#switch {
  position: absolute;
  width: 2rem;
  height: 2rem;
  margin-top: 0.15rem;
  margin-left: 0.15rem;
  border-radius: 1rem;
  background: #c0392b;
  box-shadow: 0.4rem 0rem 1.8rem -0.5rem rgba(0, 0, 0, 0.75);
  transition: transform 0.2s ease-in;
}

#togglesw:checked ~ #labelsw #switch {
  background: #2ecc71;
  transform: translatex(3.6rem);
  transition: transform 0.2s ease-in;
}

#togglesw:empty {
    display: none;
}
/*
#dist_block {
    padding-top: 5px;
}
*/

#battery {
    transform: rotate(180deg);
    width: 14rem;
    height: 1.2rem;
    margin-left: 5.75rem;
}


#control-container {
    position: absolute;
    top: 15.5rem;
    left: calc(50% - 18.75rem);
    background: linear-gradient(to bottom, #003300 0%, #669999 100%);
    width: 33rem;
    height: 5rem;
    margin: auto;
    border-radius: 1rem 1rem 0 0;
}


.gauge {
    position: relative;
}
.gauge--container {
    margin: 0;
    padding: 0;    
    position: absolute;
    left: 50%; 
    overflow: hidden;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.gauge--background {
    z-index: 0;
    position: absolute;
    background-color: #C0D3D3;
    top: 0;
    border-radius: 9.4rem 9.4rem 0 0;
}
.gauge--data {
    z-index: 1;
    position: absolute;
    background-color: skyblue;
    margin-left: auto;
    margin-right: auto;
    border-radius: 9.4rem 9.4rem 0 0;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
}
.gauge--center {
    z-index: 2;
    position: absolute;
    background-color: midnightblue;
    margin-right: auto;
    border-radius: 9.4rem 9.4rem 0 0;
}
.gauge--marker {
    z-index: 3;
    background-color: midnightblue;
    position: absolute;
    width: 0.06rem;
}
.gauge--needle {
    z-index: 4;
    background-color: #F77C15;
    height: 0.2rem;
    position: absolute;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
.gauge--labels {
    display: table;
    margin: 0 auto;
    position: relative;
}
.gauge--label__low {
    display: table-cell;
    text-align: center;
}
.gauge--label__spacer {
    display: table-cell;
}
.gauge--label__high {
    display: table-cell;
    text-align: center;
}
/*
.gauge { height: calc(2.5rem + 3em); }
.gauge--container { width: 5rem; height: 2.5rem; }
.gauge--marker { height: 2.5rem; left: 2.47rem; }
.gauge--background { width: 5rem; height: 2.5rem; }
.gauge--center { width: 46.75rem; height: 1.5rem; top: 1rem; margin-left: 1rem; }
.gauge--data { width: 5rem; height: 2.5rem; }
.gauge--needle { left: 2.5rem; top: 2.3rem; width: 2.5rem; }
.gauge--labels { top: 2.5rem; width: 5rem; }
.gauge--label__low { width: 1rem; }
.gauge--label__spacer { width: 3rem; }
.gauge--label__high { width: 1rem; }
*/
@media only screen and (min-width: 25rem) {
    .gauge { height: calc(3.125rem + 3em); }
    .gauge--container { width: 6.25rem; height: 3.125rem; }
    .gauge--marker { height: 6.25rem; left: 3.1rem; }
    .gauge--background { width: 6.25rem; height: 3.125rem; }
    .gauge--center { width: 3.75rem; height: 1.88rem; top: 1.25rem; margin-left: 1.25rem; }
    .gauge--data { width: 6.25rem; height: 3.125rem; }
    .gauge--needle { left: 3.125rem; top: 3rem; width: 3.125rem; }
    .gauge--labels { top: 3.125rem; width: 6.25rem; }
    .gauge--label__low { width: 1.25rem; }
    .gauge--label__spacer { width: 3.75rem; }
    .gauge--label__high { width: 1.25rem; }
}

.gauge__liveupdate .gauge--data,
.gauge__liveupdate .gauge--needle {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.gauge--data {
    -webkit-transform: rotate(-.50turn);
    -moz-transform: rotate(-.50turn);
    -ms-transform: rotate(-.50turn);
    -o-transform: rotate(-.50turn);
    transform: rotate(-.50turn);
}
.gauge--needle {
    -webkit-transform: rotate(-.50turn);
    -moz-transform: rotate(-.50turn);
    -ms-transform: rotate(-.50turn);
    -o-transform: rotate(-.50turn);
    transform: rotate(-.50turn);
}

#gaugeth {
    top: 0.9rem;
    color: #000066;
}
#gaugepi {
    top: 0.9rem;
    color: #000066;
}
#gaugeya {
    top: 0.9rem;
    color: #000066;
}

.glabel {
    font-size: 1.1rem;
    width: 1rem;
    padding-top: 0.2rem;
    color: #ff9900;
}
#lthrottle {
    padding-left: 0;
}
#lpitch {
    padding-left: 0.5rem;
}
#lyaw {
    padding-left: 0.5rem;
}

/* slider - Throttle 
  https://code.i-harness.com/ru/docs/html/element/input/range
*/
.slider-wrapper input {
  position:absolute; 
  width: 18rem;
  height: 6rem;
  margin: 0;
  transform-origin: 5rem 5rem;
  transform: rotate(-90deg);
  top: 14rem;
  left: 1rem;
}
input[type=range].range-styled {
    -webkit-appearance: none;
    outline: 0;
    width: 18.5rem;
    transition: 0.2s;
    background-color: rgba(255,255,255,0.01);
}
input[type=range].range-styled::-webkit-slider-runnable-track {
    height: 0.1rem;
    background: lightblue;
    border: none;
    border-radius: 0.2rem;
}
input[type=range].range-styled::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: rgba(255,255,255,0.4);
    margin-top: -3rem;
    vertical-align: middle;
    border: 0.3rem solid #276FF4;
    transition: 0.15s;
    border-color: royalblue;
}
input[type=range].range-styled::-webkit-slider-thumb:active {
    height: 6rem;
    width: 3rem;
    margin-top: -3rem;
}

/* joystick zone */
.zone {
  display: none;
  position: absolute;
  width: 40%;
  height: 18rem;
  top: 2rem;
  right: 0;
}
.zone.active {
  display: block;
}
.zone > h1 {
  position: absolute;
  padding: 0.5rem 0.5rem;
  margin: 0;
  color: white;
  right: 0;
  bottom: 0;
}
.zone.dynamic {
    background: rgba(255, 255, 255, 0.005);
}
